@media only screen and (max-width: 768px ) {
    .max-width{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

#footer{
    background-color: #089de3;
    padding: 0 20px 0 20px;
}

.icon-media{
    min-width: 9%;
    color: white;
    background-color: gray;
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    margin-bottom: 6px;
}

.icon-media:hover{
    text-decoration: none;
    background-color: #089de3;
    color: white;
}