#footer{
    background-color: #089de3;
    padding: 10px 20px 10px 10px;
}

.icon-media{
    min-width: 9%;
    color: white;
    background-color: gray;
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    margin-bottom: 6px;
}

.icon-media:hover{
    text-decoration: none;
    background-color: #089de3;
    color: white;
}